Django==1.10.5
django-allauth==0.30.0
django-ckeditor==5.2.1
django-recaptcha==1.2.1
html5lib==0.999999999
oauthlib==2.0.1
olefile==0.44
Pillow==4.0.0
python-openid==2.2.5
pytidylib==0.3.2
requests==2.13.0
requests-oauthlib==0.7.0
webencodings==0.5
pytz==2016.10
six==1.10.0