{% load static %}
{% load i18n %}
<!--DOCTYPE html -->
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width">
    <title>{% block head_title %}{% blocktrans %}Projects{% endblocktrans %}{% endblock head_title %}</title>
    <link rel="stylesheet" href="{% static '/css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    {% block head_extra %}{% endblock head_extra %}
    <script src="https://use.fontawesome.com/9e66c65465.js"></script>
</head>
<body>

<div class="menu">
    <div class="menu__logo">
        {% block menu_logo %}
        <img src="{% static '/img/vedius-logo.png' %}">
        {% endblock menu_logo %}
    </div>
    <ul class="menu__nav">
    {% block menu_nav %}
        {% include "menu_nav.html" %}
    {% endblock menu_nav %}
    </ul>
</div>

{% include "messages_display.html" %}
{% block content %}
{% endblock content %}

</body>
</html>