{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#2d404f">

    <title>{% block head_title %}{% blocktrans trimmed %}Cyfrowa Szkoła{% endblocktrans %}{% endblock head_title %}</title>
    <meta property=”og:description” content="{% block head_desc_og %}{% endblock head_desc_og %}"/>
    <meta name="description"
          content="{% block meta_description %}{% endblock meta_description %}">
    <meta property=”og:title” content="{% block head_title_og %}{% trans 'Cyfrowa Szkoła Sukcesu' %}{% endblock head_title_og %}"/>
    {% block head_extra %}{% endblock head_extra %}
    <link rel="stylesheet" href="{% static '/css/app.css' %}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div class="navigation">
    <div class="arrow">
        <i class="arrow--left fa fa-angle-left"></i>
    </div>
    <div class="menu" style="background: #2d404f;">
        <div class="menu__logo">
            {% block menu_logo %}
                <a href="{% url 'about' %}">
                    <img src="{% static '/img/vedius-logo.png' %}">
                </a>
            {% endblock menu_logo %}
        </div>
        <div class="scroll">
            <span>{% blocktrans trimmed %}Scroll down{% endblocktrans %}</span>
        </div>
        <ul class="menu__nav">
        {% block menu_nav %}
            {% include "menu_nav.html" %}
        {% endblock menu_nav %}
        </ul>
    </div>
    <div class="arrow">
        <i class="arrow--right fa fa-angle-right"></i>
    </div>
</div>

{% include "messages_display.html" %}
{% block content %}
{% endblock content %}
<script src="https://use.fontawesome.com/465197f122.js"></script>
</body>
</html>