{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans 'How to create portfolio' %}{% endblock head_title %}
{% block head_title_og %}{% trans 'How to create portfolio' %}{% endblock head_title_og %}
{% block meta_description %}{% trans 'Step by step guide of creating your own portfolio at Cyfrowa Szkoła Sukcesu' %}{% endblock meta_description %}
{% block head_desc_og %}{% trans 'Step by step guide of creating your own portfolio at Cyfrowa Szkoła Sukcesu' %}{% endblock head_desc_og %}

{% block content %}
    <div class="news-detail guide small-12 small-centered columns ">
        <div class="news-detail__header">
            <h1>{% trans 'How to create your portfolio' %}</h1>
            <p>
                <span class="subtitle">
                    {% trans 'step by step' %}
                </span>
            </p>
        </div>
        <div class="news-detail__content row column">
            <h2>{% trans 'Overview' %}</h2>
            <p>
                {% blocktrans trimmed %}Our website lets you create your personal portfolio.{% endblocktrans %}<br>
                {% blocktrans trimmed %}Each portfolio consists of blog-styled subpages where you can describe the projects you have done.{% endblocktrans %}
            </p>
            <h2>{% trans 'Step 1: Account Detail' %}</h2>
            <p>
                {% blocktrans trimmed %}Your profile describes you and your desires who you are and what you are looking for. While completing it, you should fill out all the fields:{% endblocktrans %}
            </p>
            <ul>
                <li>{% trans 'First name' %}</li>
                <li>{% trans 'Last name - surname' %}</li>
                <li>{% trans 'Future job - who do you want to become in the future?' %}</li>
                <li>{% trans 'Email - the most reliable to contact with you' %}</li>
                <li>{% trans 'Avatar - square image of you on it' %}</li>
                <li>{% trans 'Header Image - 1920x600 background image to be displayed on the top of your profile' %}</li>
                <li>{% trans 'Short Description - short text in which you describe yourself' %}</li>
                <li>{% trans "Long Description - long text, feel free to share all information about you with the world (no word limits apply!)" %}</li>
            </ul>
            <a href="{% url 'account_login' %}">{% trans 'Login to your account and edit details' %}</a>
            <h2>{% trans 'Step 2: Create project' %}</h2>
            <p>
                {% blocktrans trimmed %}You can create a page to describe a project of yours - we’ve prepared a smart text editor for you! The more projects you describe, the better! All of them will be wrapped into your public profile and therefore - your portfolio.{% endblocktrans %}
                {% if user.is_authenticated %}
                <a href="{% url 'projects:user_detail' user_id=user.id %}">{% trans 'Your profile' %}</a>
                {% endif %}
            </p>
            <ul>
                <li>{% trans 'Title - best describing your project (e.g. Website for Yahoo)' %}</li>
                <li>{% trans 'Category - try to use general / broad ones names (e.g. Web Design, Graphic Design, Programming)' %}</li>
                <li>{% trans 'Header Image - 1920x600 background image' %}</li>
                <li>{% trans "Content - describe your project in detail, add photos, links and other additional resources!" %}</li>
            </ul>
            <p>{% trans 'There are two ways to add your projects (you must be signed in!)' %}</p>
            <ul>
                <li>{% trans 'Portfolios page ("Create project" button)'%} <a href="{% url 'projects:list' %}">{% trans 'click here' %}</a></li>
                <li>{% trans 'Bottom of your profile detail (Add project button)' %} <a href="{% url 'account_login' %}">{% trans 'click here' %}</a></li>
            </ul>
            <h2>{% trans 'Step 3: Share your profile' %}</h2>
            <p>
                {% blocktrans trimmed %}Everything is all set! Your portfolio will be visible on our list immediately after you add your first project. You can preview it at any time - just use the button on the bottom of your home. When you’re ready... just go and share it!{% endblocktrans %}
                <a href="{% url 'account_login' %}">{% trans 'Your profile' %}</a>
            </p>
        </div>
    </div>
{% endblock content %}
