{% load i18n %}


<li>
    <a href="http://vedius.pl/">
        <div class="icon icon--home"></div>
        <div class="title">{% blocktrans trimmed %}vedius.pl{% endblocktrans %}</div>
    </a>
</li>

<li {% if 'news' in request.path or request.path == '/' %}class="active"{% else %}{% endif %}>
    <a href="{% url 'news:list' %}">
        <div class="icon icon--news"></div>
        <div class="title">{% blocktrans trimmed %}News{% endblocktrans %}</div>
    </a>
</li>

<li {% if 'projects' in request.path %}class="active"{% else %}{% endif %}>
    <a href="{% url 'projects:list' %}">
        <div class="icon icon--portfolio"></div>
        <div class="title">{% blocktrans trimmed %}Portfolios{% endblocktrans %}</div>
    </a>
</li>

<li {% if 'accounts' in request.path %}class="active"{% else %}{% endif %}>
    <a href="{% url 'account_login' %}">
        <div class="icon icon--account"></div>
        <div class="title">{% blocktrans trimmed %}My profile{% endblocktrans %}</div>
    </a>
</li>

<li {% if 'guide' in request.path %}class="active"{% else %}{% endif %}>
    <a href="{% url 'guide' %}">
        <div class="icon icon--howto"></div>
        <div class="title">{% blocktrans trimmed %}How to{% endblocktrans %}</div>
    </a>
</li>
