{% load i18n %}

<a href="{% url 'news:list' %}">
    <li {% if 'news' in request.path %}class="active"{% else %}{% endif %}>
        <div class="icon icon--home"></div>
        <div class="title">{% blocktrans %}News{% endblocktrans %}</div>
    </li>
</a>
<a href="{% url 'projects:list' %}">
    <li {% if 'projects' in request.path %}class="active"{% else %}{% endif %}>
        <div class="icon icon--portfolio"></div>
        <div class="title">{% blocktrans %}Portfolios{% endblocktrans %}</div>
    </li>
</a>
<a href="#">
    <li>
        <div class="icon icon--about"></div>
        <div class="title">{% blocktrans %}About project{% endblocktrans %}</div>
    </li>
</a>
<a href="#">
    <li>
        <div class="icon icon--contact"></div>
        <div class="title">{% blocktrans %}Contact{% endblocktrans %}</div>
    </li>
</a>
<a href="{% url 'account_login' %}">
    <li {% if 'accounts' in request.path %}class="active"{% else %}{% endif %}>
        <div class="icon icon--account"></div>
        <div class="title">{% blocktrans %}My profile{% endblocktrans %}</div>
    </li>
</a>