{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% if instance.title %}{{ instance.title }}{% else %}{% blocktrans trimmed %}Create{% endblocktrans %}{% endif %} |
    {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="form news-detail small-12 small-centered columns ">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="news-detail__header">
                <h1><input value="{{ instance.title }}" id="id_title" maxlength="120" name="title" type="text" required=""
                           placeholder="{% blocktrans trimmed %}Title{% endblocktrans %}"></h1>
                <p>
                <span class="author">
                    {% if request.user.get_full_name %}
                        {{ request.user.get_full_name }}
                    {% else %}
                        {{ request.user }}
                    {% endif %}
                </span>
                    <span class="divider">|</span>
                <span class="date">
                    {% now "F j Y, H:i" %}
                </span>
                </p>

            </div>
            <div class="news-detail__social">
                <span class="fa fa-facebook"></span>
                <span class="fa fa-twitter"></span>
                <span class="fa fa-google"></span>
            </div>
            <div class="news-detail__content row column">
                <label for="id_header_image">{% blocktrans trimmed %}Card image{% endblocktrans %}</label>
                {% if instance.header_image %}
                <a href="{{ instance.header_image.url }}">{{ instance.header_image }}</a>
                {% endif %}
                <input value="{{ instance.header_image }}" id="id_header_image" name="header_image" type="file"
                       {% if 'edit' not in request.path %}required=""{% endif %}>
                <hr>
                <label for="id_content">{% blocktrans trimmed %}Content{% endblocktrans %}</label>
                {{ form.media }}
                {{ form.content }}
                <input class="button" type="submit" value="{% blocktrans trimmed %}Send{% endblocktrans %}"/>
            </div>
        </form>
    </div>
{% endblock content %}