{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans 'News list' %}{% endblock head_title %}
{% block head_title_og %}{% trans 'News list' %}{% endblock head_title_og %}
{% block meta_description %}
    {% trans 'Vedius | Portfolio - aktualności' %}{% endblock meta_description %}
{% block head_desc_og %}
    {% trans 'Vedius | Portfolio - aktualności' %}{% endblock head_desc_og %}

{% block content %}
    <div class="content news-list small-12 columns">
        <div class="header small-12 medium-3 large-3 columns" style="background: url({% static 'img/news_background.jpg' %}) no-repeat;">
            <div class="header__text small-12 columns small-centered">
                <h1>{% blocktrans trimmed %}News{% endblocktrans %}</h1>
            </div>
        </div>
        <div class="small-12 medium-9 large-9 columns" style="float: right;">
        {% for obj in object_list %}
            <div class="card small-12 columns">
                <div class="card__content" style="background: url({{ obj.header_image.url }}) center / cover no-repeat;">
                    <div class="card__date">
                        <span class="day">{{ obj.updated.day }}</span>
                        <span class="month">{{ obj.updated|date:"b" }}</span>
                        <span class="year">{{ obj.updated.year }}</span>
                    </div>
                    <div class="card__data">
                        <div class="content">
                            <span class="author">{{ obj.author }}</span>
                            <h1 class="title"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h1>
                            <p class="text">{{ obj.content|striptags|safe|truncatechars:300 }} <b><a href="{{ obj.get_absolute_url }}">{% blocktrans trimmed %}read more{% endblocktrans %}</a></b></p>
                            <a href="{{ obj.get_absolute_url }}"><label class="menu-button"><span></span></label></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}