{% extends "base.html" %}
{% load urlify %}

{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}
    <div class="news-detail small-12 small-centered columns ">
        <div class="news-detail__header">
            <h1>{{ instance.title }}</h1>
            <p>
                <span class="author">
                {% if instance.author.get_full_name %}
                    {{ instance.author.get_full_name }}
                {% else %}
                    {{ instance.author }}
                {% endif %}
                </span>
                <span class="divider">|</span>
                <span class="date">
                {{ instance.updated }}
                </span>
            </p>
        </div>
        <div class="news-detail__social">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><span
                    class="fa fa-facebook"></span></a>
            <a href="https://twitter.com/home?status=
                {{ instance.content|truncatechars:20|urlify }}%20{{ request.build_absolute_uri }}"><span
                    class="fa fa-twitter"></span></a>
            <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'><span
                    class="fa fa-google"></span></a>
        </div>
        <div class="news-detail__content row column">
           {{ instance.content|safe }}
        </div>
    </div>
{% endblock content %}


