{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="background"></div>
        <div class="account-profile account small-12">
            <div class="account-form small-centered small-12 medium-8 large-6 columns">
                <div class="account-form__header">
                    <h1>{{ user.get_full_name }}</h1>
                </div>
                <div class="account-form__form">
                    {% if not has_projects %}
                    <div class="tip">
                        <span class="fa fa-lightbulb-o"></span>{% blocktrans %}Your profile will be public after you
                        publish your first project{% endblocktrans %}
                    </div>
                    {% endif %}
                    <div class="account-graphics" style="background: url('{% if user.header_image %}{{ user.header_image.url }}{% else %}http://i.imgur.com/CUGHDT4.jpg{% endif %}') center / cover no-repeat;">
                        <img src="
                        {% if user.avatar %}
                            {{ user.avatar.url }}
                        {% else %}
                            {% static '/img/avatar.png' %}
                        {% endif %}
                        ">
                    </div>
                    <ul class="account-detail">
                        <li>{% trans 'Name' %}: <span>{{ user.first_name }}</span></li>
                        <li>{% trans 'Surname' %}: <span>{{ user.last_name }}</span></li>
                        <li>{% trans 'Email' %}: <span>{{ user.email }}</span></li>
                        <li>{% trans 'Joined' %}: <span>{{ user.date_joined }}</span></li>
                        <hr>
                        <li>{% trans 'Future job' %}: <span>{{ user.future_job }}</span>
                        </li>
                        <li>{% trans 'Short description (200 characters)' %}: <span>{{ user.short_description }}</span>
                        </li>
                        <li>{% trans 'Long description (3000 characters)' %}: <span>{{ user.long_description }}</span>
                        </li>
                    </ul>
                    <div class="buttons-form">
                        <a href="{% url 'account_edit' %}" class="button primary">{% trans 'Edit profile' %}</a>
                        <a href="{% url 'projects:user_detail' user_id=user.id %}"
                           class="button secondary">{% trans 'View profile' %}</a>
                        <a href="{% url 'projects:create' %}" class="button secondary">{% trans 'Add project' %}</a>
                        <a href="{% url 'account_logout' %}" class="button secondary">{% trans 'Logout' %}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}