{% extends "base.html" %}

{% block menu_nav %}
    <a href="#">
        <li>
            <div class="icon icon--home"></div>
            <div class="title">Aktualności</div>
        </li>
    </a>
    <a href="#">
        <li class="active">
            <div class="icon icon--portfolio"></div>
            <div class="title">Portfolia</div>
        </li>
    </a>
    <a href="#">
        <li>
            <div class="icon icon--about"></div>
            <div class="title">O projekcie</div>
        </li>
    </a>
    <a href="#">
        <li>
            <div class="icon icon--contact"></div>
            <div class="title">Kontakt</div>
        </li>
    </a>
    <a href="#">
        <li>
            <div class="icon icon--account"></div>
            <div class="title">Moje konto</div>
        </li>
    </a>
{% endblock menu_nav %}

{% block content %}
<h1>{{ title }}</h1>

{% for obj in object_list %}
<h4><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h4>
<p>{{ obj.id }} </p>
<p>{{ obj.content|striptags }}</p>
<p>{{ obj.updated }}</p>
<p>{{ obj.author }}</p>
{% endfor %}
{% endblock content %}