{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% if instance.title %}{{ instance.title }}{% else %}{% blocktrans trimmed %}Create{% endblocktrans %}{% endif %}
{% endblock head_title %}

{% block head_extra %}
    {% load wysiwyg %}
    {% wysiwyg_setup %}
{% endblock %}

{% block content %}
    <div class="form project-detail small-12 small-centered columns ">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="project-detail__header"
                 style="background: #eeb324 url('{{ instance.header_image.url }}') center / cover no-repeat;">
                <div class="meta">
                    <h1><input value="{{ instance.title }}" id="id_title" maxlength="120" name="title" type="text"
                               required=""
                               placeholder="{% blocktrans trimmed %}Title{% endblocktrans %}"></h1>
                    <p>
                        <span class="author">
                        {% if request.user.get_full_name %}
                            {{ request.user.get_full_name }}
                        {% else %}
                            {{ request.user }}
                        {% endif %}
                        </span>
                        <span class="divider">|</span>
                        <span class="date">
                        {% now "F j Y, H:i" %}
                        </span>
                    </p>
                </div>
            </div>
            <div class="project-detail__social">
                <a href="#"><span
                        class="fa fa-envelope"></span></a>
                <a href="#"><span
                        class="fa fa-facebook"></span></a>
                <a href="#"><span
                        class="fa fa-twitter"></span></a>
                <a href="#"><span
                        class="fa fa-google"></span></a>
            </div>
            <div class="project-detail__content row column">
                <label for="id_header_image">{% blocktrans trimmed %}Header image (1920x600){% endblocktrans %}</label>
                {% if instance.header_image %}
                    <a href="{{ instance.header_image.url }}">{{ instance.header_image }}</a>
                {% endif %}
                <input value="{{ instance.header_image }}" id="id_header_image" name="header_image" type="file"
                       {% if 'edit' not in request.path %}required=""{% endif %}>
                <hr>
                <label for="id_content">{% blocktrans trimmed %}Content{% endblocktrans %}</label>
                <textarea cols="40" id="id_content" name="content" rows="10"
                          style="visibility: hidden; display: none;">{{ instance.content }}</textarea>
                {% wysiwyg_editor "id_content" %}
                <div class="extra">
                    <p><label for="id_category">{% blocktrans trimmed %}Category{% endblocktrans %}</label> <input
                            id="id_category" maxlength="30" name="category" type="text" value="{{ instance.category }}" required=""></p>
                    <p><span>{% blocktrans trimmed %}Updated{% endblocktrans %} </span>
                    {% if instance.updated %}
                        {{ instance.updated }}
                    {% else %}
                        {% now "F j Y, H:i" %}
                    {% endif %}
                    </p>
                </div>
                <div class="g-recaptcha" data-sitekey="6LdeoRIUAAAAAFZZyWyklORmT4uOJPra5UHCVXix"></div>
                <input class="button" type="submit" value="Send"/>
            </div>
        </form>
    </div>
    {% wysiwyg_editor "id_content" %}
{% endblock content %}