{% extends 'base.html' %}

{% block content %}
    <div class="small-12 columns row temporary"> <!-- Download class is just temporary -->
        <div class="schedule">
            <dl>
                <dt>Uczniowie</dt>
                <dd><a href="http://dhole-design.com/cyfrowa-szkola/uczniowie.xlsx">Pobierz plik</a></dd>
            </dl>
            <dl>
                <dt>Harmonogramy szkoleń</dt>
                <dd><a href="http://dhole-design.com/cyfrowa-szkola/harmonogramy_szkolen.xls">Pobierz plik</a></dd>
            </dl>
            <dl>
                <dt>Harmonogramy doradztwa zawodowego</dt>
                <dd><a href="http://dhole-design.com/cyfrowa-szkola/harmongoramy_doradztwa.xlsx">Pobierz plik</a></dd>
            </dl>
            <dl>
                <dt>Harmonogramy konsultingu dla nauczycieli</dt>
                <dd><a href="http://dhole-design.com/cyfrowa-szkola/harmonogramy-konsulting.xlsx">Pobierz plik</a></dd>
            </dl>

            <dl>
                <dt>Godziny pracy doradców</dt>
                <dd><a href="http://dhole-design.com/cyfrowa-szkola/godziny_pracy.xlsx">Pobierz plik</a></dd>
            </dl>
        </div>
    </div>
{% endblock content %}