{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% blocktrans %}Portfolios{% endblocktrans %}{% endblock head_title %}

{% block content %}
    <div class="users small-12 columns">
        {% if user.is_authenticated %}
        <div class="small-12 medium-12 large-4 columns">
            <div class="users-card information-card columns">
                <a href="{% url 'projects:create' %}">
                    <div class="information-card__button">
                        <img src="{% static 'img/cross.png' %}">
                    </div>
                    <div class="information-card__text">
                        <a class="add-project">{% trans 'Create new project' %}</a>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
    {% for user in users %}
        <div class="small-12 medium-12 large-4 columns">
            <div class="users-card columns">
                <div class="users-card__image" style="background: url('{% if user.header_image %}{{ user.header_image.url }}{% else %}http://i.imgur.com/ARLq9dz.png{% endif %}') center / cover no-repeat;">
                    <a href="{{ user.get_user_url }}">
                        <img src="
                        {% if user.avatar %}
                            {{ user.avatar.url }}
                        {% else %}
                            {% static '/img/avatar.png' %}
                        {% endif %}
                        ">
                    </a>
                </div>
                <div class="users-card__content">
                    <a href="{{ user.get_user_url }}" class="name">{{ user.get_full_name }}</a>
                    <p>{% blocktrans %}Joined{% endblocktrans %}: <span class="date">{{ user.date_joined|date:"M d, Y" }}</span></p>
                    <p>{% blocktrans %}I want to be{% endblocktrans %}: <span class="job">{{ user.future_job }}</span></p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="small-12 small-centered columns pagination users-pages">
        <span class="step-links">
            {% if users.has_previous %}
                <a href="?page={{ users.previous_page_number }}"><span class="fa fa-arrow-left"></span></a>
            {% endif %}

            <span class="current">
                {% blocktrans %}Page{% endblocktrans %} {{ users.number }} {% blocktrans %}of{% endblocktrans %} {{ users.paginator.num_pages }}
            </span>

            {% if users.has_next %}
                <a href="?page={{ users.next_page_number }}"><span class="fa fa-arrow-right"></span></a>
            {% endif %}
        </span>
    </div>
{% endblock content %}