{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
    <div class="background" style="background: url({% static 'img/account_background.jpg' %}) no-repeat center center fixed;"></div>
    <div class="account small-12">
        <div class="account-form small-centered small-12 medium-8 large-6 columns">
            <div class="account-form__header">
                <h1>{% trans "Confirm E-mail Address" %}</h1>
            </div>
            <div class="account-form__form">

                {% if confirmation %}

                {% user_display confirmation.email_address.user as user_display %}

                <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                    <div class="buttons-form">
                        <button class="button primary" type="submit">{% trans 'Confirm' %}</button>
                    </div>
                </form>

                {% else %}

                {% url 'account_email' as email_url %}

                <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
