{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div class="background" style="background: url({% static 'img/account_background.jpg' %}) no-repeat center center fixed;"></div>
    <div class="account small-12">
        <div class="account-form small-centered small-12 medium-8 large-6 columns">
            <div class="account-form__header">
                <h1>{% trans "Sign Out" %}</h1>
            </div>
            <div class="account-form__form">
                <p>{% trans 'Are you sure you want to sign out?' %}</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="buttons-form">
                        <button class="button primary" type="submit">{% trans 'Sign Out' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
