{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="background"></div>
    <div class="account small-12">
        <div class="account-form small-centered small-12 medium-8 large-6 columns">
            <div class="account-form__header">
                <h1>{% trans "Password reset" %}</h1>
            </div>
            <div class="account-form__description">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            </div>
            <div class="account-form__form">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="g-recaptcha" data-sitekey="6LdeoRIUAAAAAFZZyWyklORmT4uOJPra5UHCVXix"></div>
                <div class="buttons-form">
                    <input type="submit" class="button primary" value="{% trans 'Reset My Password' %}" />
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}
