{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="background"></div>
    <div class="account small-12">
        <div class="account-form small-centered small-12 medium-8 large-6 columns">
            <div class="account-form__header">
                <h1>{% trans "Change Password" %}</h1>
            </div>
            <div class="account-form__form">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="g-recaptcha" data-sitekey="6LdeoRIUAAAAAFZZyWyklORmT4uOJPra5UHCVXix"></div>
                <div class="buttons-form">
                    <button class="button primary" type="submit" name="action">{% trans "Change Password" %}</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}
