html {
  height: 100%
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  min-height: 100%;
  margin-left: 170px;
}

.content {
  padding-right: 0 !important;
  padding-left: 0 !important;
  height: 100%;
}

.callout {
  z-index: 999;
  margin-bottom: 0;
  text-align: center;
  border: none;

  p {
    font-weight: 300;
    margin-bottom: 0;
  }
}

.success {
  background-color: #2DCC70 !important;
  color: #ffffff !important;
}

.error {
  background-color: #D91E18 !important;
  color: #ffffff !important;
}

.info {
  background-color: #eeb324 !important;
  color: #ffffff !important;
}

@media screen and (max-width: map-get($breakpoints, 'medium')) {
  body {
    margin-left: 0px;
  }

  .content {
    margin-top: 60px;
  }

  .callout {
    margin-top: 52px;
  }
}

@media print, screen and (min-width: 40em) {
  h1 {
    font-size: 2rem;
  }
}