$regal-blue: #034378;
$san-juan: #2d4e68;
$yellow: #eeb324;
$white: #fff;
$black: #000;
$lato: 'Lato', sans-serif;
@mixin cf {
  &::before, &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

.card {
  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    font-family: $lato;
    font-weight: 300;
  }

  p {
    font-weight: 300;
  }

  float: left !important;
  padding-top: 20px;
  padding-bottom: 20px;

  &__content {
    background-color: $white;
    box-shadow: 0 19px 38px rgba($black, 0.015), 0 15px 12px rgba($black, 0.015);
    min-height: 480px;
    overflow: hidden;
    position: relative;

    &:hover {
      .card__data {
        transform: translateY(0);
      }
    }
  }

  &__date {
    background-color: $yellow;
    color: $white;
    left: 0;
    padding: 0.8em;
    position: absolute;
    top: 0;

    span {
      display: block;
      text-align: center;
    }

    .day {
      font-size: 24px;
      font-weight: 700;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }

    .month {
      text-transform: uppercase;
    }

    .month, .year {
      font-size: 12px;
    }
  }

  .content {
    background-color: $white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }

  .title {
    a {
      color: lighten($black, 50%);
    }
  }

  .menu-button {
    margin-top: 5px;
    cursor: pointer;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 16px;
    width: 25px;
    z-index: 999;

    span {
      background-color: lighten($black, 50%);
      border-radius: 50%;
      color: lighten($black, 50%);
      display: inline-block;
      height: 5px;
      position: relative;
      width: 5px;

      &::after, &::before {
        background-color: currentColor;
        border-radius: 50%;
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        width: 5px;
      }

      &::before {
        left: -10px;
      }

      &::after {
        right: -10px;
      }
    }
  }

  .menu-content {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateY(0);
    transition: transform 0.3s;
    width: 100%;
    z-index: -1;

    p {
      margin: 0;
      font-size: 16px;
    }

    li {
      background-color: $yellow;
      float: left;
      height: 60px;
      position: relative;
      width: 100%;
    }

    a {
      font-size: 24px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    span {
      top: -10px;
    }
  }

  .menu-content {
    @include cf;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }

    a {
      color: $white;
    }

    span {
      font-size: 10px;
      font-weight: 700;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translate(-50%, 0);
    }
  }

  &__data {
    bottom: 0;
    position: absolute;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    width: 100%;

    .content {
      padding: 1em !important;
      position: relative;
      z-index: 1;
    }
  }

  .author {
    font-size: 12px;
    text-transform: capitalize;
  }

  .title {
    margin-top: 10px;
  }

  .text {
    height: 70px;
    margin: 0;
  }

  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}
