.menu {
  color: white;
  left: 0px;
  width: 170px;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 9999;

  &__logo {
    padding: 45px;
    opacity: 0.9;

    .avatar {
      border-radius: 50%;
    }

    img {
      max-width: none;
      width: 80px;
    }
  }

  &__nav {
    width: 100%;
    margin: 0;

    a {
      color: inherit; /* blue colors for links too */
      text-decoration: inherit; /* no underline */
    }

    .title {
      position: relative;
      margin-top: -10px;
      margin-bottom: 10px;
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .icon {
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto 10px;
      height: 70px;
      width: 70px;
      position: relative;

      &--about {
        background-image: url(http://i.imgur.com/IrkgCBn.png);
      }

      &--home {
        background-image: url(http://i.imgur.com/qHvevnc.png);
      }

      &--portfolio {
        background-image: url(http://i.imgur.com/PkkBk6Q.png);
      }

      &--howto {
        background-image: url(http://i.imgur.com/3PgamHq.png);
      }

      &--contact {
        background-image: url(http://i.imgur.com/3Ptcm0X.png);
      }

      &--account {
        background-image: url(http://i.imgur.com/9jFsSu8.png);
      }
    }

    .active {
      background-color: #00a2d8;

      .icon--about {
        transition: all 300ms ease;
        background-image: url(http://i.imgur.com/vN9EgeH.png);
      }

      .icon--home {
        transition: all 300ms ease;
        background-image: url(http://i.imgur.com/qGf4q4m.png);
      }

      .icon--portfolio {
        transition: all 300ms ease;
        background-image: url(http://i.imgur.com/egjaJ81.png)
      }

      .icon--howto {
        transition: all 300ms ease;
        background-image: url(http://i.imgur.com/zn30Bch.png)
      }

      .icon--contact {
        transition: all 300ms ease;
        background-image: url(http://i.imgur.com/mzSk9Km.png)
      }

      .icon--account {
        transition: all 300ms ease;
        background-image: url(http://i.imgur.com/m7o31Nl.png)
      }
    }

    li {
      padding: 15px 0;
      position: relative;
      text-align: center;

      &:hover {
        background-color: #00a2d8;

        .icon--about {
          background-image: url(http://i.imgur.com/vN9EgeH.png);
        }

        .icon--home {
          transition: all 300ms ease;
          background-image: url(http://i.imgur.com/qGf4q4m.png);
        }

        .icon--portfolio {
          transition: all 300ms ease;
          background-image: url(http://i.imgur.com/egjaJ81.png)
        }

        .icon--howto {
          transition: all 300ms ease;
          background-image: url(http://i.imgur.com/zn30Bch.png)
        }

        .icon--contact {
          transition: all 300ms ease;
          background-image: url(http://i.imgur.com/mzSk9Km.png)
        }

        .icon--account {
          transition: all 300ms ease;
          background-image: url(http://i.imgur.com/m7o31Nl.png)
        }
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, 'medium')) {
  .menu {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 52px;
    z-index: 9999;

    &__logo {
      display: none;
    }

    &__nav {

      .title {
        display: none;
      }

      .icon {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100%;
        width: auto;
        margin: auto;
        background-size: 26px;
      }

      li {
        display: inline-block;
        width: 20%;
        padding: 0;
        float: left;
      }
    }


  }
}
