.users {
  padding-bottom: 20px;

  .columns {
    padding: 20px;
    float: left !important;
  }

  .information-card {
    text-align: center;

    &__button {
      img {
        margin-top: 140px;
        height: 140px;
        width: 140px;
        border-radius: 50%;
      }
    }

    &__text {
      height: 80px;
      text-align: center;
      padding-top: 20px;
      color: #222;
      text-overflow: ellipsis;

      .add-project {
        text-transform: uppercase;
        text-decoration: inherit;
        color: inherit;
        font-weight: 700;
        letter-spacing: 0.5px;
      }
    }
  }

  .users-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 0;
    color: #ffffff;
    height: 420px;

    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    &__image {
      background-color: #01AFEE;
      text-align: center;
      height: 50%;
      padding-top: 140px;

      img {
        height: 140px;
        width: 140px;
        border-radius: 50%;
      }
    }

    &__content {
      height: 80px;
      text-align: center;
      padding-top: 90px;
      color: #222;
      text-overflow: ellipsis;

      p {
        font-size: 14px;
        font-weight: 300;
        max-height: 80px;
        margin: 0;

        span {
          font-weight: 700;

          &.job {
            text-transform: lowercase;
          }
        }
      }

      .name {
        text-decoration: inherit;
        color: inherit;
        font-weight: 700;
        letter-spacing: 0.5px;
      }
    }
  }
}

.users-pages {
  display: inline-block !important;
  text-align: center;

  a {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #EAC160;
    color: white;
    font-size: 16px;
    padding: 9px;

    &:hover {
      transition: all 500ms ease;
      background-color: #eaa80e;
    }
  }
  .current {
    padding: 10px;
    background: #eaa80e;
  }
}

@media screen and (max-width: map-get($breakpoints, 'medium')) {
  .users {
    margin-top: 60px;

    .users-card {
      &__image {
        padding-top: 160px;

        img {
          height: 100px;
          width: 100px;
        }
      }

      &__content {
        padding-top: 80px;
      }
    }
  }
}